<div class="text-center">
    <h2>{{name}}</h2>
    <p>{{{get_emoji}}}</p>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
        <span for="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{format_amount needed_funding}}</span>
        needed
    </p>
    {{#if logged_in}}
    <p>
        <button class="btn btn-primary addComment">Add comments!</button>
    </p>

    <div class="comment">

    </div>
    {{else}}
    <p>Log in to leave a comment</p>
    {{/if}}

    {{!-- <div class="commentsMade">

    </div> --}}
</div>
{{#if comments.length}}
<div class="col-md-6 project-list">
    <h3>Comments:</h3>

    {{#each comments as |project|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <h4>{{project.content}} </h4>Created by {{project.user.name}}
            on {{format_date project.date_created}}

        </div>
        {{!-- <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
        </div> --}}
    </div>
    {{/each}}
</div>
{{/if}}


{{#if logged_in}}

<script src="/js/comment.js"></script>
{{/if}}